In [1]:
import requests
import pandas as pd
import json

In [2]:
def get_req(url):
    resp = requests.get(url)
    return json.loads(resp.text)

In [3]:
def urlify(s):
    return s.replace(" ", "%20")

These small csv's were filled in by hand and exported from my mySQL db.

In [4]:
df_cs = pd.read_csv("class_specs.csv")
df_affixes = pd.read_csv("affixes.csv")
df_dungeons = pd.read_csv("dungeons.csv")

In [5]:
df_affixes.head()

            id    level_2     level_4    level_7  level_10
0  FO_BO_SK_IN  Fortified  Bolstering   Skittish  Infested
1  FO_BU_QU_IN  Fortified    Bursting    Quaking  Infested
2  FO_SA_GR_IN  Fortified    Sanguine   Grievous  Infested
3  FO_TE_EX_IN  Fortified     Teeming  Explosive  Infested
4  FO_TE_QU_IN  Fortified     Teeming    Quaking  Infested

In [6]:
df_cs.head()

      id    base_class specialisation      category
0  DH_HA  Demon Hunter          Havoc  Melee Damage
1  DH_VE  Demon Hunter      Vengeance          Tank
2  DK_BL  Death Knight          Blood          Tank
3  DK_FR  Death Knight          Frost  Melee Damage
4  DK_UN  Death Knight         Unholy  Melee Damage

In [7]:
df_dungeons.head()

   id              name  timer
0  AD        Atal'dazar   1800
1  FH          Freehold   2160
2  KR       Kings' Rest   2340
3  ML  The MOTHERLODE!!   2340
4  SB  Siege of Boralus   2160

---
Here is an example of the data I received from an API call. It holds data about:
* The dungeon (name, difficulty, etc)
* The players (names, classes, specs, etc.)
* The run (Time completed, affixes, deaths, etc.)

In [8]:
tmp_url = "https://raider.io/api/v1/mythic-plus/runs?season=season-bfa-1&region=world&dungeon=all&affixes=fortified"
tmp_rsp = get_req(tmp_url)
tmp_rsp["rankings"][0]["run"]

{'season': 'season-bfa-1',
 'dungeon': {'id': 9164,
  'name': 'Freehold',
  'short_name': 'FH',
  'slug': 'freehold',
  'expansion_id': 7,
  'keystone_timer_ms': 2160999},
 'keystone_run_id': 6236464,
 'keystone_team_id': 24682069,
 'keystone_platoon_id': None,
 'mythic_level': 19,
 'clear_time_ms': 1914390,
 'keystone_time_ms': 2160999,
 'completed_at': '2018-10-22T18:20:10.000Z',
 'num_chests': 1,
 'time_remaining_ms': 246609,
 'faction': 'horde',
 'weekly_modifiers': [{'id': 10,
   'icon': 'ability_toughness',
   'name': 'Fortified',
   'description': 'Non-boss enemies have 20% more health and inflict up to 30% increased damage.'},
  {'id': 8,
   'icon': 'spell_shadow_bloodboil',
   'name': 'Sanguine',
   'description': 'When slain, non-boss enemies leave behind a lingering pool of ichor that heals their allies and damages players.'},
  {'id': 12,
   'icon': 'ability_backstab',
   'name': 'Grievous',
   'description': 'When injured below 90% health, players will suffer increasing damage over time until healed above 90% health.'},
  {'id': 16,
   'icon': 'achievement_nazmir_boss_ghuun',
   'name': 'Infested',
   'description': "Some non-boss enemies have been infested with a Spawn of G'huun."}],
 'num_modifiers_active': 4,
 'roster': [{'character': {'id': 1116381,
    'persona_id': 2350263,
    'name': 'Speedoflife',
    'class': {'id': 4, 'name': 'Rogue', 'slug': 'rogue'},
    'race': {'id': 10,
     'name': 'Blood Elf',
     'slug': 'blood-elf',
     'faction': 'horde'},
    'faction': 'horde',
    'level': 120,
    'spec': {'id': 259, 'name': 'Assassination', 'slug': 'assassination'},
    'path': '/characters/eu/twisting-nether/Speedoflife',
    'realm': {'id': 739,
     'connectedRealmId': 362,
     'name': 'Twisting Nether',
     'altName': None,
     'slug': 'twisting-nether',
     'altSlug': 'twisting-nether',
     'locale': 'en_GB',
     'isConnected': False},
    'region': {'name': 'Europe', 'slug': 'eu', 'short_name': 'EU'},
    'stream': {'name': 'VSpeed',
     'id': '30899516720',
     'user_id': '61550484',
     'user_name': 'VSpeed',
     'game_id': '18122',
     'community_ids': [],
     'type': 'live',
     'title': "+20 Chase - Praise The Lord !| !youtube for all the POV's | !ui UPDATED for Subs",
     'viewer_count': 115,
     'started_at': '2018-10-23T15:06:28Z',
     'language': 'en',
     'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_vspeed-{width}x{height}.jpg'}},
   'oldCharacter': None,
   'isTransfer': False,
   'role': 'dps'},
  {'character': {'id': 9205267,
    'persona_id': 2074963,
    'name': 'Gingì',
    'class': {'id': 3, 'name': 'Hunter', 'slug': 'hunter'},
    'race': {'id': 2, 'name': 'Orc', 'slug': 'orc', 'faction': 'horde'},
    'faction': 'horde',
    'level': 120,
    'spec': {'id': 253, 'name': 'Beast Mastery', 'slug': 'beast-mastery'},
    'path': '/characters/eu/tarren-mill/Gingì',
    'realm': {'id': 719,
     'connectedRealmId': 300,
     'name': 'Tarren Mill',
     'altName': None,
     'slug': 'tarren-mill',
     'altSlug': 'tarren-mill',
     'locale': 'en_GB',
     'isConnected': True},
    'region': {'name': 'Europe', 'slug': 'eu', 'short_name': 'EU'},
    'stream': {'name': 'Gingitv',
     'id': '30898345856',
     'user_id': '28241419',
     'user_name': 'GingiTV',
     'game_id': '18122',
     'community_ids': [],
     'type': 'live',
     'title': 'Gingi <Method> High m+ & Chill. Full UI uploaded. !ui !discord !socials',
     'viewer_count': 1262,
     'started_at': '2018-10-23T12:50:35Z',
     'language': 'da',
     'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_gingitv-{width}x{height}.jpg'}},
   'oldCharacter': None,
   'isTransfer': False,
   'role': 'dps'},
  {'character': {'id': 13722163,
    'persona_id': 4560733,
    'name': 'Lepan',
    'class': {'id': 6, 'name': 'Death Knight', 'slug': 'death-knight'},
    'race': {'id': 10,
     'name': 'Blood Elf',
     'slug': 'blood-elf',
     'faction': 'horde'},
    'faction': 'horde',
    'level': 120,
    'spec': {'id': 250, 'name': 'Blood', 'slug': 'blood'},
    'path': '/characters/eu/twisting-nether/Lepan',
    'realm': {'id': 739,
     'connectedRealmId': 362,
     'name': 'Twisting Nether',
     'altName': None,
     'slug': 'twisting-nether',
     'altSlug': 'twisting-nether',
     'locale': 'en_GB',
     'isConnected': False},
    'region': {'name': 'Europe', 'slug': 'eu', 'short_name': 'EU'},
    'stream': {'name': 'lepan',
     'id': '30898399616',
     'user_id': '31997223',
     'user_name': 'Lepan',
     'game_id': '18122',
     'community_ids': [],
     'type': 'live',
     'title': 'Lepan #1 M+ | getting world first +20 dont mind me =))==)=)=',
     'viewer_count': 430,
     'started_at': '2018-10-23T12:57:28Z',
     'language': 'en',
     'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_lepan-{width}x{height}.jpg'}},
   'oldCharacter': None,
   'isTransfer': False,
   'role': 'tank'},
  {'character': {'id': 18038225,
    'persona_id': 15275533,
    'name': 'Gotyo',
    'class': {'id': 10, 'name': 'Monk', 'slug': 'monk'},
    'race': {'id': 10,
     'name': 'Blood Elf',
     'slug': 'blood-elf',
     'faction': 'horde'},
    'faction': 'horde',
    'level': 120,
    'spec': {'id': 270, 'name': 'Mistweaver', 'slug': 'mistweaver'},
    'path': '/characters/eu/tarren-mill/Gotyo',
    'realm': {'id': 719,
     'connectedRealmId': 300,
     'name': 'Tarren Mill',
     'altName': None,
     'slug': 'tarren-mill',
     'altSlug': 'tarren-mill',
     'locale': 'en_GB',
     'isConnected': True},
    'region': {'name': 'Europe', 'slug': 'eu', 'short_name': 'EU'},
    'stream': {'name': 'gotya97',
     'id': '30898263808',
     'user_id': '28153084',
     'user_name': 'Gotya97',
     'game_id': '18122',
     'community_ids': [],
     'type': 'live',
     'title': 'Gotya <Security> Rank1 m+ healer - Grievous? - Subbutton',
     'viewer_count': 165,
     'started_at': '2018-10-23T12:39:37Z',
     'language': 'sv',
     'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_gotya97-{width}x{height}.jpg'}},
   'oldCharacter': None,
   'isTransfer': False,
   'role': 'healer'},
  {'character': {'id': 18917354,
    'persona_id': 5457774,
    'name': 'Naowhxd',
    'class': {'id': 12, 'name': 'Demon Hunter', 'slug': 'demon-hunter'},
    'race': {'id': 10,
     'name': 'Blood Elf',
     'slug': 'blood-elf',
     'faction': 'horde'},
    'faction': 'horde',
    'level': 120,
    'spec': {'id': 577, 'name': 'Havoc', 'slug': 'havoc'},
    'path': '/characters/eu/tarren-mill/Naowhxd',
    'realm': {'id': 719,
     'connectedRealmId': 300,
     'name': 'Tarren Mill',
     'altName': None,
     'slug': 'tarren-mill',
     'altSlug': 'tarren-mill',
     'locale': 'en_GB',
     'isConnected': True},
    'region': {'name': 'Europe', 'slug': 'eu', 'short_name': 'EU'},
    'stream': {'name': 'naowh',
     'id': '30898080224',
     'user_id': '53649632',
     'user_name': 'Naowh',
     'game_id': '18122',
     'community_ids': [],
     'type': 'live',
     'title': 'Naowh <Method> I #1 Mythic+ bby - hunting that +20',
     'viewer_count': 1398,
     'started_at': '2018-10-23T12:13:53Z',
     'language': 'sv',
     'thumbnail_url': 'https://static-cdn.jtvnw.net/previews-ttv/live_user_naowh-{width}x{height}.jpg'}},
   'oldCharacter': None,
   'isTransfer': False,
   'role': 'dps'}],
 'platoon': None}

Here I converted each result from the API call into 5 separate entries.
* Extract relevant data from the json
* Convert dungeon names into their IDs
* Convert affix combinations into their IDs
* Convert class & spec information into IDs
* Create 5 separate entries with the above information in each

In [9]:
def json_to_entries(js):
    entries = []
    for run in js["rankings"]:
        run = run["run"]

        # Extract data from json
        du_name = run["dungeon"]["name"]
        di_level = run["mythic_level"]
        affixes_json = run["weekly_modifiers"]
        affixes = [j["name"] for j in affixes_json]
        class_specs = [(c["character"]["class"]["name"], c["character"]["spec"]["name"]) for c in run["roster"]]

        
        # "Atal'dazar" -> "AD"
        du_id = df_dungeons[df_dungeons.name==du_name]["id"].values[0]

        # ['Tyrannical', 'Teeming', 'Volcanic', 'Infested'] -> "TY_TE_VO_IN"
        affix_id = df_affixes[df_affixes.level_2==affixes[0]][df_affixes.level_4==affixes[1]][df_affixes.level_7==affixes[2]][df_affixes.level_10==affixes[3]]["id"].values[0]

        # ('Rogue', 'Subtlety') -> "RO_SU"
        cs_ids = []
        for cls, spec in class_specs:
            cs_ids.append(df_cs[df_cs.base_class==cls][df_cs.specialisation==spec]["id"].values[0])

        
        # Convert to single entries
        for cs_id in cs_ids:
            entries.append((cs_id, du_id, di_level, affix_id))

    return entries

---
Here I iterate over all regions, dungeons and affixes.  
First the API call urls are created, then the data is retrieved and converted into entries.  
(this part of the API is outdated, so I am only able to filter for 2 affixes)

In [10]:
regions = ["eu", "us", "tw", "kr"]
dungeons = df_dungeons.name.values
affixes_2 = ["Tyrannical", "Fortified"]
url_format = "https://raider.io/api/v1/mythic-plus/runs?season=season-bfa-1&region={}&dungeon={}&affixes={}"
urls = [url_format.format(r, urlify(d), a) for r in regions for d in dungeons for a in affixes_2]

In [11]:
entries = []
for url in urls:
    resp_json = get_req(url)
    entries += json_to_entries(resp_json)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

---
Finally, I convert the list of entries into a pandas DataFrame.  
This allows me to aggregate duplicate values into a count.

In [12]:
df_entries = pd.DataFrame.from_records(entries, columns=["class_id", "dungeon_id", "difficulty_id", "affix_id"])
df_entries.head()

  class_id dungeon_id  difficulty_id     affix_id
0    RO_SU         AD             19  TY_TE_VO_IN
1    HU_BM         AD             19  TY_TE_VO_IN
2    DK_BL         AD             19  TY_TE_VO_IN
3    MO_MW         AD             19  TY_TE_VO_IN
4    DH_HA         AD             19  TY_TE_VO_IN

In [13]:
cols = df_entries.columns.tolist()
agg_entries = df_entries.groupby(cols,as_index=False).size()
agg_entries = agg_entries.reset_index().rename(columns={0:'num_completed'})
agg_entries

     class_id dungeon_id  difficulty_id     affix_id  num_completed
0       DH_HA         AD             15  FO_BO_SK_IN              4
1       DH_HA         AD             15  FO_SA_GR_IN              1
2       DH_HA         AD             15  TY_BU_SK_IN              1
3       DH_HA         AD             15  TY_RA_NE_IN              2
4       DH_HA         AD             16  FO_BO_SK_IN              6
5       DH_HA         AD             16  FO_SA_GR_IN              3
6       DH_HA         AD             16  TY_RA_NE_IN              2
7       DH_HA         AD             16  TY_TE_VO_IN              4
8       DH_HA         AD             17  FO_BO_SK_IN              8
9       DH_HA         AD             17  FO_SA_GR_IN              9
10      DH_HA         AD             17  TY_RA_NE_IN              1
11      DH_HA         AD             17  TY_TE_VO_IN             21
12      DH_HA         AD             18  FO_BO_SK_IN              1
13      DH_HA         AD             18  FO_SA_GR_IN              8
14      DH_HA         AD             18  TY_TE_VO_IN              8
15      DH_HA         AD             19  FO_SA_GR_IN              1
16      DH_HA         AD             19  TY_TE_VO_IN              2
17      DH_HA         FH             15  FO_BO_SK_IN              4
18      DH_HA         FH             15  TY_TE_VO_IN              2
19      DH_HA         FH             16  FO_BO_SK_IN              4
20      DH_HA         FH             16  FO_SA_GR_IN              2
21      DH_HA         FH             16  TY_TE_VO_IN             13
22      DH_HA         FH             17  FO_BO_SK_IN              8
23      DH_HA         FH             17  FO_SA_GR_IN             14
24      DH_HA         FH             17  TY_RA_NE_IN              2
25      DH_HA         FH             17  TY_TE_VO_IN              8
26      DH_HA         FH             18  FO_BO_SK_IN              2
27      DH_HA         FH             18  FO_SA_GR_IN              4
28      DH_HA         FH             18  TY_TE_VO_IN              4
29      DH_HA         FH             19  FO_SA_GR_IN              1
...       ...        ...            ...          ...            ...
2399    WL_DS         ML             15  FO_BO_SK_IN              1
2400    WL_DS         ML             15  FO_SA_GR_IN              1
2401    WL_DS         ML             16  TY_TE_VO_IN              2
2402    WL_DS         ML             17  TY_TE_VO_IN              2
2403    WL_DS         SB             12  FO_SA_GR_IN              1
2404    WL_DS         SB             13  FO_SA_GR_IN              1
2405    WL_DS         SB             16  TY_TE_VO_IN              1
2406    WL_DS         SB             17  TY_TE_VO_IN              1
2407    WL_DS         SS             13  FO_BO_SK_IN              2
2408    WL_DS         SS             17  TY_TE_VO_IN              1
2409    WL_DS         TD             14  FO_BO_SK_IN              1
2410    WL_DS         TD             14  TY_TE_VO_IN              1
2411    WL_DS         TD             15  TY_RA_NE_IN              1
2412    WL_DS         TD             15  TY_TE_VO_IN              2
2413    WL_DS         TD             16  FO_BO_SK_IN              1
2414    WL_DS         TD             16  FO_SA_GR_IN              1
2415    WL_DS         TD             16  TY_TE_VO_IN              3
2416    WL_DS         TD             17  TY_TE_VO_IN              3
2417    WL_DS         TD             18  TY_TE_VO_IN              1
2418    WL_DS         TS             14  FO_SA_GR_IN              1
2419    WL_DS         TS             14  TY_TE_VO_IN              2
2420    WL_DS         TS             15  FO_BO_SK_IN              1
2421    WL_DS         TS             15  TY_TE_VO_IN              1
2422    WL_DS         TS             16  TY_TE_VO_IN              1
2423    WL_DS         UR             15  FO_BO_SK_IN              1
2424    WL_DS         UR             17  TY_TE_VO_IN              2
2425    WL_DS         WM             14  FO_BO_SK_IN              2
2426    WL_DS         WM             15  FO_BO_SK_IN              1
2427    WL_DS         WM             15  TY_TE_VO_IN              1
2428    WL_DS         WM             17  TY_TE_VO_IN              1

[2429 rows x 5 columns]

After aggregation the data is in the correct format to be import into the database.  
I saved it as a csv file and imported it manually through mySQL workbench.

In [14]:
agg_entries.to_csv("ca270_entries.csv", header=True, index=False)